:root {

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ROOT LAYOUT - outlet sits below */
.root-Navbar {
  margin-bottom: 100px;
}

/* PAGE WRAPPERS */
/* Home Page */
.home-Page {

}

a {
  text-decoration: none;
}

body {
  margin: 0;
}
