:root {
  /*
   Pallete:  
  https://color.adobe.com/Pale-Blue-color-theme-84741eb6-da62-4a15-9bfe-14279dfa835e 

  */
  --white: #FFFFFF;
  --pink: #FACFCE;
  --gray-blue: #5E6F7F;
  --light-blue: #BDDEFF;
  --dark-blue: #43627F;
  --off-blue: #97B2CC;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

/* ROOT LAYOUT - outlet sits below */
.root-Navbar {
  margin-bottom: 55px;
}

/* PAGE WRAPPERS */
