/* Style sheet for HomeModels component section */


.model-container {
  align-items: center;

}

.model-wrapper {
  overflow: hidden;
  width: 30%;
  height: 30%;
  
}


.model-photo {
  width: 80%;
  height: 80%;
  filter: grayscale(100%);
  transition: all 0.2s;
  /* border-radius: 8px; */
  margin-bottom: 8px;
}

.left {
 margin-left: 140px;
}

.model-photo:hover {
    filter: none;
  }
